.music_wrapper {
  display: flex;
  align-items: center;
  background-color: rgb(221, 221, 219);
  width: 100vw;
  min-height: 600px;
  .inner {
    display: flex;
    align-items: center;
    width: 100%;

    flex-direction: row;
    .now_playing {
      display: flex;
      flex-direction: column;
      flex: 0.5;
      justify-content: center;
      align-items: center;
    }
    .topFive_wrapper {
      display: flex;
      flex: 0.5;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .topFive_card {
        margin-top: 8px;
      }
    }
  }
}
