.app__about_page {
  display: flex;
  align-items: center;
  background-color: rgb(210, 210, 209);
  width: 100vw;
  min-height: 100vh;
  border-top: 1px solid rgb(209, 209, 208);
  @media (max-width: 913px) {
    min-height: max-content;
  }
  .inner {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;

    padding: {
      top: 2rem;
      bottom: 2rem;
    }

    .wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 600px;
      background-color: rgb(221, 221, 219);
      border-radius: 12px;
      border: 1px solid rgb(221, 221, 208);
      box-shadow:
        rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
        rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
      padding-left: 2rem;
      padding-right: 2rem;
      padding-bottom: 24px;
      margin-bottom: 36px;
      @media (max-width: 648px) {
        width: 90%;
      }
      p {
        font-family:
          'Montserrat',
          sans serif;
        font-size: 24px;
        color: black;
        line-height: 1.5em;
        margin-top: 24px;
        @media (max-width: 648px) {
          font-size: 18px;
        }
      }
    }
  }
}
