.card {
  width: 80%;
  height: 80%;
  border: 1px solid black;
  border: none;
  background-color: rgb(243, 242, 241);
  border-radius: 2px;
  margin-bottom: 24px;
  cursor: pointer;
  .card_overlay {
    height: inherit;
    opacity: 1;
    z-index: 0;
  }
  .card_image {
    width: 100%;
    height: 100%;

    img {
      width: inherit;
      height: inherit;
      object-fit: fill;
    }
  }
  .card_description {
    display: flex;
    margin-top: 12px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h2 {
      font-family: 'Jetbrains mono', sans-serif;
      text-transform: uppercase;
      color: rgb(23, 23, 23);
      padding-left: 12px;
    }
    p {
      color: rgb(23, 23, 23);
      font-family: 'Montserrat', sans-serif;
      padding-bottom: 8px;
      width: 400px;
    }
  }
}
.card_overlay:hover {
  opacity: 0.8;
  z-index: 100;
  background-color: rgb(235, 233, 233);
  transition-duration: 0.5s;
}
