.app__header_style {
  display: flex;
  background-color: rgb(221, 221, 219);
  width: 100%;
  height: 100vh;
  overflow-x: hidden;

  padding-top: 10rem;
  @media (max-width: 913px) {
    flex-direction: column-reverse;
    padding-top: 0rem;
    padding-bottom: 48px;
  }
  .left {
    display: flex;
    flex: 0.5;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-top: 32px;
    @media (max-width: 913px) {
      display: flex;
      flex: 0.5;
      padding-top: 12px;
    }
    .wrapper {
      display: flex;
      flex-direction: column;
      margin-left: 18rem;
      align-items: center;
      height: 150px;
      @media (max-width: 913px) {
        margin-left: 0px;
        align-items: center;
        text-align: left;
      }

      .greeting {
        font-family:
          'Raleway',
          sans serif;
        margin-bottom: 0.12em;
        color: black;
        font-size: 64px;
        @media (max-width: 913px) {
          font-size: 32px;
        }
      }
      .name {
        font-family:
          'Raleway',
          sans serif;
        font-size: 64px;
        margin-bottom: 0.12em;
        color: black;
        @media (max-width: 913px) {
          font-size: 32px;
        }
      }
      .interests {
        margin-left: 12px;
        margin-top: 16px;

        font-family:
          'Raleway',
          sans serif;
        letter-spacing: 0.12em;
        color: black;
        font-size: 32px;

        @media (max-width: 913px) {
          font-size: 24px;
        }

        #span {
          line-height: 64px;
        }
      }
    }
  }
}

.right {
  flex: 0.5;
  @media (max-width: 913px) {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  align-items: center;
  padding-top: 16px;
  overflow-y: hidden;

  .card {
    border-radius: 12%;
    padding: 20px;
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (max-width: 913px) {
      justify-content: center;
      align-items: center;
    }
    @media (max-width: 500px) {
      margin-top: 48px;
    }
    .buttons {
      display: flex;
      flex-direction: row;
      align-items: center;

      .button {
        margin-left: 12px;

        .icon {
          position: absolute;
          cursor: pointer;
          width: 62px;
          height: 62px;
          border: 1px solid rgb(180, 177, 177);
          border-radius: 25%;
          background-color: #e0e0e0;
          z-index: 3;

          @media (max-width: 500px) {
            width: 48px;
            height: 48px;
          }
        }
        .button_layer {
          overflow: hidden;
          white-space: nowrap;

          position: relative;
          width: 62px;
          height: 62px;
          border-radius: 25%;
          bottom: -8px;
          z-index: 2;
          background-color: rgb(150, 150, 68);
          @media (max-width: 500px) {
            width: 48px;
            height: 48px;
          }
        }
        .icon:hover {
          background-color: #d8d8d8;
          transition: 0.5s;
          transform: translateY(6px);
        }
      }
    }
  }
  .squarecards {
    margin-bottom: 20px;
    position: relative;
    width: 376px;
    height: 376px;
    border-radius: 12%;
    @media (max-width: 500px) {
      width: 250px;
      height: 250px;
    }
  }
  .card_cover {
    position: absolute;
    z-index: 4;
    width: 356px;
    height: 356px;
    border-radius: 12%;
    @media (max-width: 500px) {
      width: 224px;
      height: 224px;
    }
  }
  .card_back_one {
    position: absolute;
    width: 356px;
    height: 356px;
    z-index: 3;
    border-radius: 12%;
    background-color: #c2b7a1;
    @media (max-width: 500px) {
      width: 224px;
      height: 224px;
    }
  }
  .card_back_two {
    position: absolute;
    width: 356px;
    height: 356px;
    z-index: 2;
    left: 0;
    bottom: 0;
    border-radius: 12%;
    background-color: rgb(150, 150, 68);
    @media (max-width: 500px) {
      width: 224px;
      height: 224px;
    }
  }
}

#h1 {
  font-size: 48px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 500;
}

#h3 {
  font-size: 32px;
}
