.app__navbar {
  width: 100%;
  height: 8%;
  position: absolute;
  overflow-x: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  padding: 1rem 2rem;
  background: rgb(221, 221, 219);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  position: fixed;
  z-index: 21;
  opacity: 0.9;
  border-bottom: 1px solid rgb(199, 197, 197);
}

.app__navbar_links {
  align-items: center;
  justify-content: flex-start;
  display: flex;
  list-style: none;
  flex: 1;

  li {
    margin: 0 1rem;
    cursor: pointer;
    flex-direction: column;
    padding: 0 1rem;
  }

  div {
    width: 5px;
    height: 5px;
    background: transparent;
    border-radius: 50%;
    margin-bottom: 5px;
  }
  a {
    display: inline-block;
    position: relative;
    color: rgb(0, 0, 0);
    font-weight: 500;
    font-size: 24px;
    font-family: 'Jetbrains', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.15s ease-in-out;

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 3px;
      bottom: -1px;
      left: 0;
      background-color: #000000;
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
    }
    &:hover::after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }
}

.app__navbar-menu {
  width: 35px;
  height: 75px;
  border-radius: 50%;
  position: relative;
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(247, 247, 247, 0.7);
  box-shadow: 0px 0px 20px rgba(168, 168, 168, 0.15);

  svg {
    width: 70%;
    height: 70%;
    color: rgb(4, 4, 34);
  }

  div {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 5;

    padding: 1rem;
    width: 80%;
    height: 100vh;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    background: cover;
    background-color: rgb(231, 241, 241);

    svg {
      width: 35px;
      height: 35px;
      color: rgb(2, 2, 15);
      margin: 0.5rem 1rem;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;

      li {
        margin: 1rem;

        a {
          color: rgb(14, 12, 12);
          font-weight: 500;
          text-decoration: none;
          text-transform: uppercase;
          transition: all 0.1s ease-in-out;

          &:hover {
            color: rgb(167, 153, 153);
            text-decoration: underline;
          }
        }
      }
    }
  }

  ul {
    list-style: none;
    display: flex;
    padding: 0;
    align-items: flex-start;
    flex-direction: column;
  }

  a {
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;

    transition: all 0.3s ease-in-out;
  }
}
