.galleryContainer {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background-color: rgb(221, 221, 219);
  .inner {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      color: rgb(40, 39, 39);
      font-family: 'Jetbrains mono', sans-serif;
      text-transform: uppercase;
      font-size: 48px;
      font-weight: 500;
      padding-top: 24px;
      padding-bottom: 32px;
    }
  }
}
