.modalContainer {
  display: flex;
  padding-top: 4%;
  justify-content: center;
  width: 100vw;
  z-index: 2;
  min-height: 100vh;
  overflow-x: hidden;
  background: rgb(216, 193, 193);
  @media (max-width: 913px) {
    padding-top: 0;
  }
}

.modalWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 60vw;
  @media (max-width: 913px) {
    box-sizing: border-box; /* Ensures padding and border are included in total width and height */
    padding: 0; /* Reset any paddings */
    margin: 0;
    width: 100vw;
  }
}

.modalContent {
  display: flex;
  position: relative;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  outline: none;
}

.modalTopBar {
  display: flex;
  justify-content: center;
  height: 100%;
}

.modalHeader {
  display: flex;
  justify-content: center;
  padding-top: 16px;
  .modalHeading {
    font-family: 'Jetbrains mono', sans-serif;
    text-transform: uppercase;
    color: black;
  }
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 28px;
  img {
    border-radius: 12px;
    @media (max-width: 913px) {
      width: 50%;
      height: auto;
    }
    @media (max-width: 648px) {
      width: 60%;
      border-radius: 0px;
    }
  }
}

.modalBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 18px;
  margin-bottom: 16px;
  padding-left: 12px;
  padding-right: 12px;
}

.bodyText {
  color: rgb(23, 23, 23);
  font-family: 'Montserrat', sans-serif;

  max-width: 55ch;
  font-size: 18px;
  text-align: left;
  line-height: 1.5em;
  margin-top: 16px;
  @media (max-width: 913px) {
    font-size: 14px;
    max-width: 55ch;
    margin-top: 8px;
  }
}

.modalButtonContainer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  margin-top: 36px;
  @media (max-width: 648px) {
    margin-top: 12px;
  }
  .modalButton {
    cursor: pointer;
    font-size: 18px;
    border-radius: 12px;
    margin-bottom: 24px;
    background-color: #008080;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    border: 1px solid #008080;
    padding: {
      top: 16px;
      bottom: 16px;
      left: 12px;
      right: 12px;
    }
    margin-left: 12px;
    box-shadow:
      rgba(0, 0, 0, 0.1) 0px 8px 6px -1px,
      rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    @media (max-width: 648px) {
      padding: {
        top: 12px;
        bottom: 12px;
        left: 8px;
        right: 8px;
      }
      font-size: 18px;
    }

    &:hover {
      box-shadow: none;
      border: none;
      animation-delay: 0.2ms;
      transition: background-color 0.2s ease-in border-color 0.3s ease-in
        box-shadow 0.3 ease-out;
    }
    &:active {
      transform: translateY(2px);
      transform: scale(0.9);
    }
  }
}
