.work_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(211, 85, 7);
  width: 100vw;
  min-height: 100vh;
  padding-bottom: 64px;
  .marquee {
    position: relative;
    padding-top: 8rem;
    padding-bottom: 8rem;
    overflow: hidden;
    height: 206px;
    pointer-events: none;
    animation: marqueeAnimation 8s infinite;

    @media (min-width: 1500px) {
      width: 100%;
    }
    @media (min-width: 1300px) {
      width: 250%;
    }
    @media (min-width: 1000px) {
      width: 224%;
    }
    @media (max-width: 1000px) {
      width: 400%;
    }
    @media (max-width: 913px) {
      width: 250%;
    }
    @media (max-width: 700px) {
      width: 200%;
      padding-top: 4rem;
      padding-bottom: 4rem;
      height: 103px;
    }
    @media (max-width: 490px) {
      width: 300%;
    }
    @media (max-width: 351px) {
      width: 300%;
    }
    .track {
      position: absolute;
      white-space: no-wrap;
      h1 {
        font-family:
          'Jetbrains mono',
          sans serif;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 64px;
        color: rgb(40, 39, 39);

        @media (max-width: 900px) {
          font-size: 42px;
        }
        @media (max-width: 451px) {
          font-size: 28px;
        }
      }
    }
  }
  .work_wrapper {
    display: flex;
  }
  .projects {
    display: flex;
    flex-direction: column;
    width: 800px;
    @media (max-width: 913px) {
      margin-top: 24px;
      width: 500px;
    }
    @media (max-width: 520px) {
      margin-top: 12px;
      width: 90vw;
    }
  }
}

@keyframes marqueeAnimation {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(
      -100px
    ); /* Adjust this value based on your requirements */
  }
}
